/*
* @Author: docoder
* @Email:  docoder@163.com
*/
@import "../styles/colors.scss";
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content {
    flex-grow: 1;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background: $selected;
    margin-top: 1px;
    font-size: 2rem;
    h2 {
        margin: 0;
        color: $white;
    }
    p {
        color: $detail;
        font-size: 1rem;
        font-style: italic;
        margin: 0;
    }
}
.markdownContainer {
    display: flex;
    flex-direction: row;
}
.markdown {
    padding: 2rem;
    background: $normal;
    color: $white;
    a {
        color: $link;
    }
    width: calc(100% - 14rem);
    @media (max-width: 768px) {
        width: 100%;
    }
}
.tocContainer{
    background: $normal;
    width: 14rem;
    border-left: 1px solid $selected;
}
.toc {
    font-size: 0.7rem;
    padding-top: 2rem;
    padding-right: 1rem;
    overflow-y: auto;
    height: 100%;
    ul {
        list-style-type: none;
        color: $detail;
        border-left: 1px dashed $detail;
        margin-left: 1rem;
        margin-bottom: 0;
    }
    ul:first-child {
        border: 0px;
        margin-left: 0rem;
    }
    li {
        margin-bottom: 0.1rem;
        color: $detail;
    }
    li > ul {
        margin-top: 0.1rem;
    }
    li > p {
        margin-bottom: 0;
    }
    li > a {
        margin-left: 1rem;
    }
    a {
        color: $detail;
        text-decoration: none;
        line-height: 1.2;
        display: block;
        padding-bottom: 8px;
        padding-top: 6px;
        margin-left: 0.9rem;
    }
    a:hover {
        color: $link;
    }
    @media (max-width: 768px) {
        display: none;
    }
}


