/*
* @Author: docoder
* @Email:  docoder@163.com
*/
$red: red;
$yellow: yellow;
$blue: blue;
$green: #00ff00;
$black: #14161E;
$white: #ffffff;
$detail: #959CCE;
$normal: #292C3F;
$highlight: #3B405D;
$selected: #212433;
$link: #BBE085;
