/*
* @Author: docoder
* @Email:  docoder@163.com
*/
@import "../styles/colors.scss";
.container {
    background: $black;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    padding-left: 2rem;
    padding-top: 3rem;
    div {
        width: 600px;
        margin-bottom: 2rem;
    }
}
.author {
    background: $blue;
    color: $black;
    padding: 0.2rem 1.6rem;
    font-size: 2rem;
}
.authorInfo {
    color: $blue;
    font-size: 2rem;
    margin-left: 1.6rem;
}
.email {
    background: $yellow;
    color: $black;
    padding: 0.2rem 1.6rem;
    font-size: 2rem;
}
.emailInfo {
    color: $yellow;
    font-size: 2rem;
    margin-left: 1.6rem;
}