/*
* @Author: docoder
* @Email:  docoder@163.com
*/
@import "../styles/colors.scss";

.footer {
    margin-top: 1rem;
    color: $detail;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $black;
    padding-top: 0.5rem;
    p {
        margin-bottom: 0.5rem;
        font-size: 0.8rem;
        opacity: 0.4;
    }
}
