/*
* @Author: docoder
* @Email:  docoder@163.com
*/
.footer {
    margin-top: 3rem;
    color: #959CCE;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #14161E;
    padding-top: 0.5rem;
    p {
        margin-bottom: 0.5rem;
        font-size: 0.8rem;
        opacity: 0.4;
    }
}
